.app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.listing-form{
    background-color: var(--background);
    padding: 0 60px;
    border-radius: 10px;
}

.listing-title{
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

input[type="file"] {
    display: flex;
    justify-content: center;
    background-color: white;
}

.listing-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-btn{
    width: 40%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Montserrat SemiBold", sans-serif;
}

.listing-btn:hover {
    background: var(--darker-orange);
}

.label-listing{
    font-size: 1rem;
    color: gray;
    margin-top:25px;
}
