.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-form{
    background-color: var(--background);
    padding: 0 60px;
    border-radius: 10px;
}

.listing-title{
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

input[type="file"] {
    display: flex;
    justify-content: center;
    background-color: white;
}

.listing-btn, button[type="file"]{
    width: 40%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: var(--darker-orange);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

