.myAccount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0;
}

.myAccount-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.myAccount-wrapper>h1 {
    text-align: center;
}

.profile-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 2rem;
    width: 45%;
}

.name{
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--blue);
}

.profile-pic{
    width: 15rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.uploadAvatar-btn{
    padding: 10px 0;
    color: var(--background);
    background-color: var(--darker-peach);
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
    margin: 30px 0 0;
    width: 40%;
}

.uploadAvatar-btn:hover{
    background: var(--darkest-peach);
}

.updateProfile-btn{
    padding: 10px 0;
    color: var(--darker-peach);
    border: 2px solid var(--darker-peach);
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
    margin: 30px 0 0;
    background-color: var(--background);
    width: 40%;
}

.updateProfile-btn:hover{
    color: var(--darkest-peach);
    border: 3px solid var(--darkest-peach);
}




.profile-right-container{
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--light-grey);
    padding-left: 2rem;
    width: 55%;
    margin-right: 60px;
}





.vertical-line {
    margin: 0 2rem;
}



.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 2rem;
}

.info-header h4 {
    margin-bottom: 0;
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-button{
    padding: 10px 0;
    width: 70px;
    color:  var(--background);
    background-color: var(--darker-peach);
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
}

.save-button:hover{
    background: var(--darkest-peach);
}

.edit-button{
    padding: 10px 0;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--darker-peach);
    color: var(--darker-peach);
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
    margin-right: 1em;
}

.edit-button:hover{
    background: var(--background);
    color: var(--darkest-peach);
    border: 3px solid var(--darkest-peach);
}

.form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0 20px;
    border-radius: 15px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 20px;
}

.about-me{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding: 0 0 50px 5px;
    border: 1px solid gray;
}
.logout-button{
    padding: 10px 30px;
    margin: 50px 0 0;
    color: var(--background);
    background-color: var(--darker-peach);
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
}

.logout-button:hover{
    background: var(--darkest-peach);
}
