.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.wrapper{
    align-items: center;
    justify-content: center;
}

.profile-and-info{
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;

}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-weight: 800;
    font-size: 30px;
}

table{
    border-collapse: collapse;

}
table td, table th {
    border: 2px solid var(--darker-grey);
    text-align: center;
    padding: 10px;
}
table tr:first-child th {
    border-top: 0;
    border-bottom: 0;
}
table tr th:first-child {
    border-left: 0;
    border-bottom: 0;
}
table tr th:last-child {
    border-right: 0;
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
    border-top: 0;
}
table tr td:last-child {
    border-right: 0;
    border-top: 0;
}
.info{
    width: 500px;
    border-left: 2px solid var(--darker-grey);
    padding-left: 150px;
}
.button-wrapper{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 10px 40px;
    color: var(--background);
    background-color: var(--orange);
    border-radius: 5px;
    border-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.button:hover{
    background: var(--darker-orange);
}

.save-button{
    padding: 10px 0;
    width: 70px;
    color:  var(--background);
    background-color: var(--orange);
    border-radius: 5px;
    border-color: transparent;
    margin: 5px;
    cursor: pointer;
}

.save-button:hover{
    background: var(--darker-orange);
}
.cancel-button{
    padding: 10px 0;
    width: 70px;
    color: #000000;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--orange);
    margin: 5px;
    cursor: pointer;
}

.cancel-button:hover{
    background: var(--background);
}

.form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}
.input{
    width: 100%;
    padding: 15px 5px;
    margin: 5px 0 20px;
    border-radius: 15px;
    border: 1px solid var(--darker-grey);
}

.about-me{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding: 0 0 50px 5px;
    border: 1px solid gray;
}
.logout-button{
    padding: 10px 30px;
    margin: 10px 0;
    color: var(--background);
    background-color: var(--orange);
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}

.logout-button:hover{
    background: var(--darker-orange);
}
