.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0;
    padding: 0;
}

.wrapper{
    align-items: center;
    justify-content: center;
}

.profile-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 30px;
    margin: 30px 0;
}

.info {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info p {
    margin: 0;
}


.button-wrapper{
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-button{
    width: 150px;
    padding: 10px;
    color: var(--background);
    background-color: var(--orange);
    border-radius: 5px;
    border-color: transparent;
    margin: 5px;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
}

.follow-button:hover{
    background: var(--darker-orange);
}

.message-button{
    width: 150px;
    padding: 10px;
    color: #000000;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--orange);
    margin: 5px;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
}

.message-button:hover{
    background: var(--background);
}

.nav {
    padding: 10px 40px;
}

.sell-container{
    width: 1000px;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid black;
    padding: 0;
}

.nav .active-link {
    border-bottom: 3px solid var(--darker-orange);
    color: var(--darker-orange);
    font-family: "Montserrat Regular", sans-serif;
    font-size: 20px;
    margin: 0 20px 0 0;
}

.nav .active-link:hover {
   border-bottom: none;
    text-decoration: none;
}

.option{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 20px;
}


