:root {
    /* Fonts */
    --header-font: "Montserrat", sans-serif;
    --body-font: "Montserrat", sans-serif;

    /* Kronicle color palette */
    --orange: #FF7D1A;
    --darker-orange: #EB6701;
    --peach: #FEDBCD;
    --background: #FFFAF8;
    --light-beige: #F8ECE8;
    --darker-grey: #808080;
    --light-grey:  #C4C4C4;

    /* Border radius */
    --border-radius-xxs: 6px;
    --border-radius-xs: 8px;
    --border-radius-s: 12px;
    --border-radius-m: 24px;
    --border-radius-l: 32px;
    --border-radius-xl: 42px;
    --border-radius-xxl: 54px;
}
