:root {
    /* Fonts */
    --body-font: "Montserrat Regular";

    /* Kronicle color palette */
    --orange: #FF7D1A;
    --darker-orange: #EB6701;
    --peach: #FEDBCD;
    --darker-peach: #FFA092;
    --background: #F2EEE7;
    --light-beige: #F8ECE8;
    --darker-grey: #808080;
    --lighter-grey:  #C4C4C4;
    --black: #000000;
    --light-grey: #858585;
    --white: #ffffff;
    --lighter-black: #333333;
    --white-grey: #E5E5E5;
    --blue: #435892;

    /* Border radius */
    --border-radius-xxs: 6px;
    --border-radius-xs: 8px;
    --border-radius-s: 12px;
    --border-radius-m: 24px;
    --border-radius-l: 32px;
    --border-radius-xl: 42px;
    --border-radius-xxl: 54px;
}
