.container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto 20px;
    width: 500px;

}

.subtitle {
    margin: 0 0 20px;
}

.price {
    font-family: "Montserrat Bold", sans-serif;
    font-size: larger;
    margin-left: 3px;
}

.input-container {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--lighter-grey);
    margin-bottom: 20px;
}

.input {
    width: 100%;
    border: 2px solid var(--white-grey);
    border-radius: 10px;
    padding: 0 20px;
}

.currency {
    background: var(--black);
    color: var(--white);
    font-family: "Montserrat Bold", sans-serif;
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: -15px;
    width: 15%;
}

.amount {
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.amount-row {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.bid-btn {
    padding: 15px 60px;
    border-radius: 10px;
    background: var(--orange);
    outline: none;
    border: none;
    color: var(--white);
    font-family: "Montserrat SemiBold", sans-serif;
    margin-bottom: 0;
    transform: scale(1);
    transition: 50ms ease-out;
}

.bid-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 50ms ease-out;
}

.bid-btn:active {
    transform: scale(1);
    transition: 50ms ease-in;
}