.container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    width: 50%;

}

.subtitle {
    margin-top: 0;
}

.price {
    font-family: "Montserrat Bold", sans-serif;
    font-size: larger;
    margin-left: 3px;
}

.input {

}

.currency {
    background: var(--black);
    color: var(--white);
    font-family: "Montserrat Bold", sans-serif;
    padding: 10px 20px;
}

.amount {
    flex-direction: column;
    width: 100%;
}

.amount-row {
    width: 100%;
    justify-content: space-between;

}