.nav {
    width: 50%;
    justify-content: space-around;
    padding: 1.25rem 3rem
}

.links {
    color: var(--background);
}

.links:hover, .active-link {
    color: var(--darker-peach);
    font-family: "Montserrat SemiBold", sans-serif;
}

.links:hover {
    text-decoration: none;
}

.active-link {
    border-bottom: 3px solid var(--darker-peach);
}

.nav .active-link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .nav {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        width: 90%;
    }
}