.top-header {
    height: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--light-beige);
}

/* Styling for elements on the left in top header */
.top-header-left {
    align-items: center;
    width: 70%;
}

.logo {
    width: 4rem;
    margin-right: 2rem;
}

.icon {
    font-size: 20px;
    margin-right: 2.5rem;
}

/* Styling for elements on the right */
.top-header-right {
    height: 100%;
    align-items: center;
}

.top-header-right a {
    font-weight: 500;
}

.top-header-left .icon:hover {
    color: var(--darker-peach);
}

.vertical-line {
    border-right: 1px solid var(--background);
    height: 70%;
    margin: 0 20px;
}

.top-header-right .auth
{
    color: var(--background);
    font-weight: 600;
}

.top-header-right .auth:hover
{
    text-decoration: underline;
    color: var(--darker-peach);
}

.avatar {
    font-size: 30px;
    margin-right: 40px;
}

.menu {
    background: inherit;
    font-size: 30px;
    border: 0;
}


