.footer {
    background: var(--light-beige);
    padding: 2rem;
}

.footer-nav {
    justify-content: space-around;
    padding-bottom: 2rem;
}

.footer-nav h4 {
    margin-top: 0;
}

.footer-nav a {
    color: var(--black);
    display: block;
    margin-top: 5px;
}