.header {
   background: var(--peach);
   height: 4rem;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   padding: 1.5rem 3rem;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 99;
}

.header a {
   text-decoration: none;
   color: var(--black),
}

.header a:hover {
   text-decoration: underline;
}

/* Styling for elements on the left in header */
.header-left {
   align-items: center;
   width: 70%;
}

.logo {
   width: 4rem;
   margin-right: 2rem;
}

.icon {
   font-size: 20px;
   margin-right: 2.5rem;
}

/* Styling for elements on the right */
.header-right {
   height: 100%;
   align-items: center;
}

.header-right a {
   font-weight: 500;
}

.vertical-line {
   border-right: 1px solid var(--black);
   height: 70%;
   margin: 0 20px;
}

.header-right .register {
   color: var(--darker-orange);
}

.header-right .register:hover {
   text-decoration: underline;
}
