.card {
    border-radius: 10px;
    height: 400px;
    width: 225px;
    margin: 20px 10px;
}

.cardImg {
    height: 300px;
    width: 100%;
}

.imgWrapper {
    height: 300px;
    width: 100%;
}

.cardName {
    margin: 10px 0;
}

@media only screen and (max-width: 520px) {
    .cardImg {
        height: 180px;
    }
}