.card {
    border-radius: 10px;
    margin: 20px 10px;
    width: 300px;
}

.cardImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.imgWrapper {
    height: 300px;
    width: 300px;
}

.cardName {
    margin: 10px 0;
}

@media only screen and (max-width: 520px) {
    .cardImg {
        height: 180px;
    }
}

@media only screen and (min-width: 1720px) {
    .imgWrapper {
        height: 325px;
        width: 325px;
    }

    .cardImg {
        height: 325px;
        width: 325px;
    }
}

@media only screen and (min-width: 2100px) {
    .imgWrapper {
        height: 400px;
        width: 400px;
    }

    .cardImg {
        height: 400px;
        width: 400px;
    }
}