.card {
    border-radius: 10px;
    margin: 20px 3px;
}

.cardImg {
    height: 300px;
    width: auto;
    aspect-ratio: 0.75;
}

@media only screen and (max-width: 520px) {
    .cardImg {
        height: 180px;
    }
}