html {
  font-size: 16px;
  color: var(--white);
  background: var(--black);
  font-family: var(--body-font);
}

main {
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--header-font);
  line-height: 1.6;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
}

a {
  color: var(--cyan);
}

a:hover {
  color: var(--dark-cyan);
  text-decoration: none;
}

p {
  line-height: 1.5;
}