/***************************************************************************************
 *    Title: 3 quick ways to add fonts to your React app
 *    Author: Tapas Adhikary
 *    Date: 8 January 2021
 *    Availability: https://blog.greenroots.info/3-quick-ways-to-add-fonts-to-your-react-app (Accessed 4 April 2022)
 *
 ***************************************************************************************/

/*** DEFINING FONTS ***/

/* font weight: 400 */
@font-face {
    font-family: "Montserrat Regular";
    src: local("Montserrat Regular"), url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

/* font weight: 900 */
@font-face {
    font-family: "Montserrat Black";
    src: local("Montserrat Black"), url("./fonts/Montserrat-Black.ttf") format("truetype");
}

/* font weight: 800 */
@font-face {
    font-family: "Montserrat ExtraBold";
    src: local("Montserrat ExtraBold"), url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

/* font weight: 700 */
@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"), url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

/* font weight: 600 */
@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}

/* font weight: 500 */
@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"), url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

/* font weight: 300 */
@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("./fonts/Montserrat-Light.ttf") format("truetype");
}

/* font weight: 200 */
@font-face {
    font-family: "Montserrat ExtraLight";
    src: local("Montserrat ExtraLight"), url("./fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

/* font weight: 100 */
@font-face {
    font-family: "Montserrat Thin";
    src: local("Montserrat Thin"), url("./fonts/Montserrat-Thin.ttf") format("truetype");
}
