.register-container,
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-peach);
    padding: 1em 2em;
    border-radius: 10px;
    width: 45%;

}

.h1 {
    font-size: 2rem;
    margin: auto;
}

.extra-info {
    margin-bottom: 2rem;
}

.logo{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 20px;
}

.p{
    font-size: 1rem;
    margin: auto;
    padding-bottom: 20px;
    color: var(--lighter-black);
    opacity: 60%;
}

.a {
    color: var(--darker-peach);
    font-weight: 600;
}

.name-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 150px;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.label {
    font-size: 1rem;
    font-weight: 500;
}
.input {
    width: 100%;
    padding: 15px 30px;
    margin: 10px 0 30px;
    border-radius: 15px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.input:focus {
    border: 1px solid var(--darkest-peach);
}

.input-aboutme {
    resize:none;
    max-height: 250px;
}

.user-input input[type="text"]:focus, .user-input input[type="password"]:focus {
    width: 350px;
    transition: 0.5s;
    cursor: pointer;

}


.button-wrapper{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn{
    width: 150px;
    padding: 10px;
    color: var(--background);
    font-family: "Montserrat SemiBold", sans-serif;
    background-color: var(--darker-peach);
    border-radius: 50px;
    border-color: transparent;
    margin: 5px 20px;
    cursor: pointer;
}

.register-btn:hover {
    background: var(--darkest-peach);
    color: var(--white);
}

.clear-btn{
    width: 150px;
    padding: 10px;
    color: #FFFAF8;
    font-weight: 600;
    background-color: #C4C4C4;
    border-radius: 5px;
    border-color: transparent;
    margin: 5px 20px;
    cursor: pointer;
}

.clear-btn:hover {
    background: #858585;
}

.imgUpload-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
    padding-bottom: 0.5rem;
}

.imgUpload-section>label {
    padding-top: 1rem;
    cursor: pointer;
}

.file-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-peach);
    color: var(--white);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}

.file-input:hover {
    background-color: var(--darkest-peach);
}

.upload-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.upload-icon-display {
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    bottom:0;
    right:0;
    color: var(--black);
    background-color: var(--background);
    border-radius: 50%;
}

.imgUpload-section input {
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0;
}

.previewImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    position: relative;
}

.previewImage img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    display: block;
}

